<footer class="footer">
  <small>
    Acid Challenge
    by <a href="https://www.linkedin.com/in/jisanchez/">Juan Ignacio Sánchez</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/jisanchezp">Github</a></li>
    </ul>
  </nav>
</footer>
